# you can find your iface by running `tshark -D` in your terminal. It will list all available interfaces. Choose the one you want to use and replace the value below.
IFACE=\Device\NPF_{...}

THRESHOLD=0.7
OUTPUT_MODE=sqlite
REFRESH_SECS=3